.grid-item {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    /* background-color: black; */
    display:flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.board{
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 1200px;
    height: 1200px;
}
body {
    height: 95vh;
    display: flex;
    justify-content: center;
}

.circle {
    height: 40px;
    width: 40px;
    background-color: rgba(60, 141, 6, 0.808);
    border-radius: 15px
}

.bubble{
    width: 400px;
    height: 200px
}

.obs {
    background-color:gray;
    width: 100%;
    height: 100%;
}